@{
    ViewBag.Title = "Index";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>Getting Started</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span4">
    <h2>Setup Roles</h2>
    <p>Create the Security Roles in your application and Assign users and groups to roles. </p>
    <p>@Html.ActionLink("Setup »", "Roles", new { }, new { @class = "btn" })</p>
</div>
<div class="span4">
    <h2>Setup Tasks</h2>
    <p>Pick the controller actions that need to be accessed to perform each Task in the application. </p>
    <p>@Html.ActionLink("Setup »", "Tasks", new { }, new { @class = "btn" })</p>
</div>
<div class="span4">
    <h2>Assign Tasks to Roles</h2>
    <p>Decide what each security role in the sytem is able to do.</p>
    <p>@Html.ActionLink("Setup »", "TasksInRoles", new { }, new { @class = "btn" })</p>
</div>
</div>
